body {
    padding-top: 70px;
    background-image: url("/static/myapp/images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(232, 232, 232, 0.8);
    background-blend-mode: overlay;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #343a40;
    min-height: 100vh;
}

.nav-link {
color: black;
}

.container {
    margin-top: 20px;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.folder-structure {
    list-style: none;
    padding-left: 20px;
}

.folder-item {
    margin-bottom: 5px;
}

.folder-toggle {
    cursor: pointer;
    display: block;
    padding: 5px;
}

.folder-toggle:before {
    content: "\25B6";
    margin-right: 5px;
}

.folder-item.expanded > .folder-toggle:before {
    content: "\25BC";
}

.folder-content {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.folder-item.expanded > .folder-content {
    display: block;
}

/* リスト表示の文字サイズ */
.area{
    font-size: x-large;
}

.country{
    font-size: large;
}

.info{
    font-size: xx-small;
}


body {
    display: flex; /* Flexboxを使用 */
}

.sidebar {
    width: 200px; /* サイドバーの幅 */
    background-color: #f8f9fa; /* 背景色 */
    padding: 20px;
    height: 100vh; /* 画面全体に表示 */
    position: fixed; /* 固定表示 */
    top: 0;
    left: 0;
    overflow-y: auto; /* コンテンツが多い場合にスクロール可能にする */
}

.content {
    margin-left: 220px; /* サイドバーの幅+α */
    padding: 20px;
    width: 100%; /* コンテンツ領域の幅 */
}