body {
    padding-top: 70px;
    background-image: url("/static/myapp/images/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(232, 232, 232, 0.8);
    background-blend-mode: overlay;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #343a40;
    min-height: 100vh;
}

.nav-link {
color: black;
}

.container {
    margin-top: 20px;
}
h1 {
    color: #007bff;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.folder-structure {
    list-style: none;
    padding-left: 20px;
}

.folder-item {
    margin-bottom: 5px;
}

.folder-toggle {
    cursor: pointer;
    display: block;
    padding: 5px;
}

.folder-toggle:before {
    content: "\25B6";
    margin-right: 5px;
}

.folder-item.expanded > .folder-toggle:before {
    content: "\25BC";
}

.folder-content {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.folder-item.expanded > .folder-content {
    display: block;
}

/* リスト表示の文字サイズ */
.area{
    font-size: x-large;
}

.country{
    font-size: large;
}

.info{
    font-size: xx-small;
}