{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div style="margin-left: 280px;">
    <h2 style="overflow-x: auto; white-space: nowrap; position: sticky; top: 55px; background-color: white; z-index: 3; padding: 20px;">ログイン</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">ログイン🔓</button>
    </form>
    <a href="{% url 'myapp:signup' %}">新規登録📝はこちら</a>
</div>
{% endblock %}

