{% extends 'myapp/base.html' %}

{% block title %}Overlapping Months{% endblock %}

{% block content %}
<div style="margin-left: 220px;">
    <h1>ベストシーズン</h1>
    {% if selected_spots %}
        <h4>選択した観光地</h4>
        <div class="d-flex flex-wrap">
            {% for spot in selected_spots %}
                <div style="margin-right: 10px; margin-bottom: 20px; width: 200px; text-align: center;">
                    {% if spot.photo %}
                        <img src="{{ spot.photo.url }}" alt="{{ spot.name }}" width="180" style="margin-bottom: 5px; display: block; margin-left: auto; margin-right: auto;">
                    {% endif %}
                    <div style="font-weight: bold; margin-bottom: 5px;">{{ spot.name }}</div>
                    <div style="color: #555; font-size: 0.9em; text-align: left;">{{ spot.information }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if overlapping_months %}
        <h4>重複するベストシーズン</h4>
        <ul>
            {% for month in overlapping_months %}
                <li>{{ month.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>重複するベストシーズンは見つかりませんでした。</p>
    {% endif %}

    <a href="{% url 'myapp:spot_list' %}" class="btn btn-primary">リストに戻る</a>
</div>
    {% endblock %}