<!-- overlapping_months.html -->

{% extends 'myapp/base.html' %}

{% block title %}Overlapping Months{% endblock %}

{% block content %}
<div style="margin-left: 220px;">
    <h1  style="overflow-x: auto; white-space: nowrap; position: sticky; top: 55px; background-color: white; z-index: 3; padding: 20px;">ベストシーズン</h1>
    {% if selected_spots %}
        <h4><strong>選択した観光地</strong></h4>

        <div class="d-flex flex-wrap">
            {% for spot in selected_spots %}
            <div class="card m-2 spot-card" style="width: 15rem; flex-shrink: 0; position: relative;" data-spot-tags="{{ spot.get_tag_ids|join:',' }}" data-spot-months="{{ spot.get_month_ids|join:',' }}">
                <a href="{% url 'myapp:spot_detail' pk=spot.pk %}" class="spot-link" data-spot-url="{% url 'myapp:spot_detail' pk=spot.pk %}" style="text-decoration: none; color: inherit;">
                    {% if spot.photo %}
                        <img src="{{ spot.photo.url }}" class="card-img-top rounded" alt="{{ spot.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ spot.name|truncatechars:9 }}</h5>
                        <p class="card-text">
                            {{ spot.information|truncatechars:22 }}
                        </p>
                        <div>
                            {% if spot.tag.all %}
                                <p>
                                {% for tag in spot.tag.all %}
                                    <span class="badge bg-info">{{ tag.name }}</span>
                                {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if overlapping_months %}
    <p>
        <h4><strong>重複するベストシーズン</strong></h4>
            {% for month in overlapping_months %}
                <span class="badge bg-warning custom-badge">{{ month.name }}</span>
            {% endfor %}
        </p>
    {% else %}
        <p>重複するベストシーズンは見つかりませんでした。</p>
    {% endif %}

    <br>
    <a href="{% url 'myapp:spot_list' %}" class="btn btn-primary">リストに戻る</a>
    <a href="{% url 'myapp:calculate_overlapping_months' %}" class="btn btn-dark">再度選択</a>
</div>
    {% endblock %}