{% extends 'myapp/base.html' %}

{% block title %}Update Spot{% endblock %}

{% block content %}
<div style="margin-left: 220px;">
    <h1>情報を更新</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.country.id_for_label }}">国:</label>
            {{ form.country }}
        </div>
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">名前:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.information.id_for_label }}">情報:</label>
            {{ form.information }}
        </div>
        <div class="form-group">
            <label for="{{ form.best_season.id_for_label }}">ベストシーズン:</label>
            <div class="d-flex flex-wrap">
                {% for month in form.best_season %}
                    <div class="mr-2 mb-2">
                        <label class="btn {% if month.value %}btn-primary{% else %}btn-outline-primary{% endif %}">
                            {{ month }} {{ month.label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.tag.id_for_label }}">タグ:</label>
            <div>
            {% for tags in form.tag %}
            <label class="btn {% if tag.value %}btn-primary{% else %}btn-outline-primary{% endif %}">
                {{ tags }} {{ tag.label }}
            </label>
            {% endfor %}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.photo.id_for_label }}">写真:</label>
            {{ form.photo }}
        </div>
        <button type="submit" class="btn btn-primary">情報を更新</button>
        <a href="{% url 'myapp:spot_list' %}" class="btn btn-secondary">Cancel</a>
        <a href="{% url 'myapp:spot_delete' pk=spot.pk %}" class="btn btn-danger">削除</a>    </form>
</div>
{% endblock %}