{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Spot List{% endblock %}

{% block content %}
<div style="margin-left: 220px;">
    <div style="overflow-x: auto; white-space: nowrap; position: sticky; top: 0; background-color: white; z-index: 3; padding: 20px; text-align: right;">
        <!-- タグを表示 -->
        {% for tag in tags %}
            <span class="badge bg-info badge-with-margin">{{ tag.name }}</span>
        {% endfor %}
    
        <!-- 月を表示 -->
        {% for month in months %}
            <span class="badge bg-warning badge-with-margin">{{ month.name }}</span>
        {% endfor %}
    </div>

    {% for area_data in areas_data %}
        <div style="position: sticky; top: 60px; background-color: white; z-index: 2;">
            <h3 style="margin-bottom: 0;">{{ area_data.area.name }}</h3>
        </div>
        {% for country_data in area_data.countries %}
            <div style="position: sticky; top: 90px; background-color: white; z-index: 1;">
                <h4 style="margin-bottom: 0;">{{ country_data.country.name }}</h4>
            </div>
            <div class="d-flex flex-row" style="overflow-x: auto;">
                {% for spot in country_data.spots %}
                <a href="{% url 'myapp:spot_detail' pk=spot.pk %}" class="card m-2 spot-link" data-spot-url="{% url 'myapp:spot_detail' pk=spot.pk %}" style="width: 15rem; flex-shrink: 0; text-decoration: none; color: inherit;">
                    {% if spot.photo %}
                            <img src="{{ spot.photo.url }}" class="card-img-top rounded" alt="{{ spot.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ spot.name|truncatechars:9 }}</h5>
                            <p class="card-text">
                                {{ spot.information|truncatechars:24 }}
                            </p>
                            <div>
                                {% if spot.tag.all %}
                                    <p>
                                    {% for tag in spot.tag.all %}
                                        <span class="badge bg-info">{{ tag.name }}</span>
                                    {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
<script src="{% static 'myapp/js/script.js' %}"></script>
{% endblock %}