<!-- spot_detail.html -->

{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Spot Detail{% endblock %}

{% block content %}
<div style="margin-left: 280px;">
    <div class="container">
        <h3><strong>{{ spot.name }}</strong></h3>

        {% if spot.photo %}
            <img src="{{ spot.photo.url }}" alt="{{ spot.name }}" class="img-fluid rounded spot-image">
        {% endif %}

        <div>
            <hr>
            <h5>
                <strong>エリア : </strong> {{ spot.country.area.name }}
            </h5>
            <hr>
            <h5>
                <strong>国 : </strong> {{ spot.country.name }}
            </h5>
            <hr>
            <p><strong>詳細情報 : </strong>{{ spot.information }}</p>
            <hr>
            {% if spot.best_season %}
                <p>
                    <strong>ベストシーズン:</strong>
                    {% for month in spot.best_season.all %}
                        <span class="badge bg-warning custom-badge">{{ month.name }}</span>
                    {% endfor %}
                </p>
            {% endif %}

        </div>

        <div>
            {% if spot.tag.all %}
                <p>
                    <strong>タグ:</strong>
                    {% for tag in spot.tag.all %}
                        <span class="badge bg-info custom-badge">{{ tag.name }}</span>
                    {% endfor %}
                </p>
            {% endif %}
            <hr>
        </div>

        <a href="{% url 'myapp:spot_update' pk=spot.pk %}" class="btn btn-primary">編集✏️</a>
        <a href="{% url 'myapp:spot_list' %}" class="btn btn-secondary">一覧に戻る↩️</a>
    </div>
</div>
{% endblock %}