{% extends 'myapp/base.html' %}

{% block title %}Spot List{% endblock %}

{% block content %}
    <h1>Spot List</h1>

    {% for area_data in areas_data %}
        <h2>{{ area_data.area.name }}</h2>
        <ul>
            {% for country_data in area_data.countries %}
                <li>
                    <h4>{{ country_data.country.name }}</h4>
                    <ul>
                        {% for spot in country_data.spots %}
                            <li>
                                <a>
                                    {{ spot.name }}<br>
                                    {{ spot.information }}<br>
                                </a>
                                <a href="{% url 'myapp:spot_update' pk=spot.pk %}" class="btn btn-secondary">Update</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <a href="{% url 'myapp:spot_create' %}" class="btn btn-primary">Create Spot</a>
{% endblock %}