{% extends 'myapp/base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div style="margin-left: 280px;">
    <h2  style="overflow-x: auto; white-space: nowrap; position: sticky; top: 55px; background-color: white; z-index: 3; padding: 20px;">プロフィールの更新</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">更新🔄</button>
        <a href="{% url 'myapp:mypage' %}" class="btn btn-secondary">Cancel❌</a>
    </form>
</div>
{% endblock %}